<div class="tab response_command">
  @if (infoCommand().staticOptions){ @if(infoCommand().name === "knowledge"){
  <p class="response_command">This information is in years of experience</p>
  } @for (staticOption of infoCommand().staticOptions; track $index) {
  <div class="static_response_container">
    <p class="name_option primary-color">{{ staticOption.name }}:</p>
    <p class="description_option tab">{{ staticOption.description }}</p>
  </div>
  } } @else if (infoCommand().behavior) {
  <div class="interactive_commands_container">
    @for (interactiveOption of infoCommand().options; track $index) {

    <div class="response_command">
      <p class="command_name" [class.selected]="interactiveOption.selected">
        {{ interactiveOption.name }}
      </p>
    </div>

    }

    <div class="response_command">
      <p class="command_name">
        Press <span class="secondary-color">Ctrl + c</span> to exit of
        interactive command
      </p>
    </div>
  </div>
  }
</div>
