@import "../../../styles/variables";

.static_response_container {
  display: flex;
}

.interactive_commands_container {
  display: flex;
  flex-direction: column;
}

.command_name {
  position: relative;
  padding-left: 25px;
}

.command_name.selected::before {
  content: ">";
  font-size: 1.6rem;
  line-height: 35px;
  margin-right: 8px;
  position: absolute;
  left: 0;
  color: $secondary-color;
}
