<div class="console_container">
  <p class="warning-message">
    Use <span class="orange_color">help</span> to see all commands
  </p>

  <div class="container-history-commands">
    @for (command of historyCommands; track $index) { @if (isCommand(command)) {
    <p>
      C:\portfolio> <span class="orange_color">{{ command.name }}</span>
    </p>
    } @else if (isUnrecognizedCommand(command)) {
    <p>
      C:\portfolio> <span class="orange_color">{{ command.message }}</span>
    </p>
    } }
  </div>

  <div class="container-input">
    <label class="input-label" for="command">C:\portfolio> </label>
    <input
      #commandInput
      type="text"
      name="command"
      id="command"
      class="orange_color"
      selected
      (keydown)="onKeydown($event, commandInput.value)"
    />
  </div>
</div>
