<div class="console_container">
  <p class="warning-message">
    Use <span class="orange_color">help</span> to see all commands
  </p>

  @if(historyCommands && historyCommands.length > 0){
  <div class="history_command">
    <app-history-commands
      [historyCommands]="historyCommands"
    ></app-history-commands>
  </div>
  }

  <div class="interactive_command">
    @if (currentCommand && isCommand(currentCommand) && currentCommand.behavior)
    {
    <p>
      C:\portfolio> <span class="orange_color">{{ currentCommand.name }}</span>
    </p>

    <app-render-commands
      [infoCommand]="currentCommand"
      (exitInteractiveCommand)="exitInteractiveCommand()"
    ></app-render-commands>

    }
  </div>

  @if (!commandWithBehavior) {
  <div class="container-input">
    <label class="input-label" for="command">C:\portfolio> </label>
    <input
      #commandInput
      type="text"
      name="command"
      id="command"
      class="orange_color"
      selected
      (keydown)="onKeydown($event, commandInput.value)"
      autocomplete="off"
    />
  </div>
  }
</div>
