.console_container {
  width: 80%;
  margin: 30px auto;
}

.warning-message {
  margin: 20px 0;
}

.history_command {
  padding: 10px 0;
}

.container-input {
  padding: 10px 0;
  display: flex;
  width: 100%;
}

.input-label {
  padding: 0 10px 0 0;
  flex: 0 0 auto;
}

input {
  flex: 1 1 auto;
  background-color: transparent;
  outline: none;
  border: none;
}
