<div class="console_container">
  <p class="warning_message">
    Hello, <span class="secondary-color">I'm Santiago</span>, and I'm delighted
    to have you here.
  </p>
  <p class="warning-message">
    Use <span class="primary-color">help</span> to see all commands.
  </p>

  <div class="container-history-commands">
    @for (command of historyCommands; track $index) {

    <div class="history_command">
      @if (isCommand(command)) {
      <p>
        C:\portfolio> <span class="primary-color">{{ command.name }}</span>
      </p>

      <app-render-commands
        [infoCommand]="command"
        (exitInteractiveCommand)="exitInteractiveCommand()"
      ></app-render-commands>

      } @else if (isUnrecognizedCommand(command)) {
      <p>
        C:\portfolio>
        <span class="primary-color">{{ command.inputValue }}</span>
      </p>

      <p class="tab response_command">{{ command.message }}</p>

      }
    </div>

    }
  </div>

  @if (!commandWithBehavior) {
  <div class="container-input">
    <label class="input-label" for="command">C:\portfolio> </label>
    <input
      #commandInput
      type="text"
      name="command"
      id="command"
      class="primary-color"
      selected
      (keydown)="onKeydown($event, commandInput.value)"
      autocomplete="off"
    />
  </div>
  }
</div>
